# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.g.dart
*.freezed.dart

# IDE
.idea/
.vscode/
*.iml
*.swp
*.swo

# macOS
.DS_Store
*.plist.backup

# Android
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java
**/android/key.properties
*.jks

# iOS
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.moved-aside
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
**/ios/**/.symlinks/
**/ios/**/DerivedData/
**/ios/**/Flutter/App.framework
**/ios/**/Flutter/Flutter.framework
**/ios/**/Flutter/Flutter.podspec
**/ios/**/Flutter/Generated.xcconfig
**/ios/**/Flutter/ephemeral/
**/ios/**/Flutter/flutter_export_environment.sh
**/ios/**/Pods/
**/ios/Runner/GeneratedPluginRegistrant.*

# Coverage
coverage/
*.lcov

# Environment
.env
.env.*

# Secrets
*.p12
*.mobileprovision
